#bt,
#btSoma,
#btIgual,
#btLimpar,
#btReset {
  font-size: 80px;
  width: 30%;
}

#expressao {
  height: 100px;
  width: 100%;
  font-size: 80px;
  text-align: right;
}

#btIgual {
  background-color: black;
  color: white;
}
